/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 * { border: 1px solid black;*/
/*
* { 
  border: 1px solid black;
}*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.Site{
  position: relative;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.North{
  margin: auto 0;
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #c69649;
}


.Welcome {
  text-align: center;
  padding: 80px 50px 40px 20px;
  height: 500px;
 
  background-image: url(../img/hero_chocolate.png);
  background-position: 50% 30%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}
.Welcome h1 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.Welcome p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
  color: #fed494;
}
.Welcome p span {
  color: #5ac4c4;
}



.Hero{
  text-align: center;
  position: relative;
  /* This height needs to match .MainNavigatin's height. */
  padding-bottom: 130px;
  background: #c69649;
}


.MainNavigation{
  
  padding: 10px 0 10px 0px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  /* This height needs to match .Hero's bottom padding. */
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px -11px 44px 0px rgba(44,38,28,1);
  -moz-box-shadow: 0px -11px 44px 0px rgba(44,38,28,1);
  box-shadow: 0px -11px 44px 0px rgba(44,38,28,1);
}

/*.MainNavigation._sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: auto;
  z-index: 100;
}*/

.MainNavigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
}

.MainNavigation ul li{
  position: relative;
  float: left;
  right: 50%;
  margin: 0 0 0 70px;
}

.MainNavigation ul li img {
  width: 120px;
  height: 120px;
  display: block;
}

.MainNavigation ul li:first-child{
  margin-left: 0;
}

.MainNavigation ul li a{
  display: block;
  text-decoration: none;
}
.MainNavigation ul li img{
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 0 10px 0;
}

.MainNavigation ul li p{
  margin: 0 0 10px 0;
  text-align: center;
  color: #2c261c;
}
.MainNavigation ul li p:hover{
  color: #fff;
}

.Content_Candy { 
  margin: 0 auto;
  padding-bottom: 70px;
  background-color: #2c271d;
  display: block;
  position: relative;
  text-align: center;
  background-image: url(../img/bgd_box.jpg);
  background-position: 50% 30%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.Content_Candy blockquote {
  margin: 0 auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding:100px 0px 80px 0px;
}

.Content_Candy span {
  color: #c69649;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.Content_Bakery { 
  border-top:12px solid #c69649;
  margin: 0 auto;
  padding-bottom: 70px;
  background-color: #c69649;
  display: block;
  position: relative;
  text-align: center;
  background-image: url(../img/bgd_bakery.jpg);
  background-position: 50% 30%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Content_Bakery blockquote {
  margin: 0 auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding:100px 0px 80px 0px;
}


.Content_Drink { 
  border-top:12px solid #c69649;
  margin: 0 auto;
  padding-bottom: 70px;
  background-color: #2c271d;
  display: block;
  position: relative;
  text-align: center;
  background-image: url(../img/bgd_drink.jpg);
  background-position: 50% 30%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Content_Drink blockquote {
  margin: 0 auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding:100px 0px 80px 0px;
}


.Blurb {
  font-family: 'Poppins', sans-serif;
  margin: 0px auto;
  /* Using the "alpha" in RGBA will just control the background color */
  background: rgba(255,255,255,1);
  /* Opacity will control the whole box and everything inside of it */
  width: 80%;
  padding-bottom: 0;
  border-bottom:12px solid #5ac4c4;
  border-top:12px solid #5ac4c4;

}



.carousel {
  margin: 0;
  position: relative;
  list-style: none;
  display: block;
  padding: 0px;
  height: 320px;
  overflow: hidden;
  
}
.carousel_East {
  float: right;
  width: 44%;
  vertical-align: middle;
  margin: 0 auto;
}
.carousel_West {
  float: left;
  width: 54%;
  padding-left :20px;
  text-align: left;
}

.carousel_West h1 {
  color: #853a1c;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding-left: 3px;
  text-transform: uppercase;
  padding-top: 20px;

}
.carousel_West h1 span {
  color: #853a1c;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

.carousel_West h2 {
  
  color: #49423f;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.carousel_West p {
  padding-bottom: 10px;
  font-size: 16px;
}

.carousel_West p a {
  text-decoration: none;
  color: #c69649;
  margin: 0 auto;
}

.carousel_Nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #5ac4c4;
  padding: 20px 40px 0 40px;
}

.carousel > li {
  position: absolute;
  margin: 0 auto;
  padding: 0px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(500px);
  width: 100%;

}


.carousel > li.active{
  opacity: 1;
  transform: translateX(0);
}

.carousel > li:not(.active) {
  display: none;
}
  
.carousel > li.next-in {
  animation: next-in 0.5s;
}

.carousel > li.next-out {
  animation: next-out 0.5s;
}

.carousel > li.prev-in {
  animation: prev-in 0.5s;
}

.carousel > li.prev-out {
  animation: prev-out 0.5s;
}

.carousel img {
  display: block;
  float: right;
  margin: 0 auto 10px auto;
  max-width: 100%;
}

.carousel h1{
  margin: 0 0 10px 0;
}

.carousel p{
  margin: 0;
}
  
@keyframes next-in {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes next-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(-500px);
  }
}

@keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes prev-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(500px);
  }
}

/* NOT RELATED TO TUTORIAL */

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}

body { 
  font-family: 'Source Sans Pro';
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #5ac4c4;
  margin: 5px
}

img {
  display: block;
}

footer { 
  text-align: center;
  background-color: #c69649; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (max-width: 768px) {
  .MainNavigation ul{
    float: none;
    left: auto;
  }

  .MainNavigation ul li{
    float: none;
    right: auto;
    margin: 0 0 20px 0;
  }

  .MainNavigation ul li img{
    width: 75px;
    height: 75px;
    margin: 0 auto;
  }

  .MainNavigation {
    height: auto;
    position: static;
    left: auto;
    bottom: auto;
  }

  .Hero {
    height: auto;
    padding-bottom: 0;
  }

  .carousel_East {
    float:none;
    padding: 0 15px 0 15px;
    text-align: center;
  }

 .carousel_West h1, h2, p {
    font-size: 15px;
  }

 .carousel_West p {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-right: 20px; 
  }
  .carousel_West {
    text-align: center;
    width: 100%;
    padding-right: 20px; 
  }

  .carousel {
    height: 400px;
  }


@media only screen and (max-width: 480px) {

  .carousel_East {
    float:none;
    padding: 0 15px 0 15px;
    text-align: center;
  }

 .carousel_West h1, h2, p {
    font-size: 15px;
  }

  }

 .carousel_West p {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-right: 20px; 
  }
  .carousel_West {
    text-align: center;
    width: 100%;
    padding-right: 20px; 
  }

  .carousel {
    height: 400px;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
